.layout {
  min-height: 100vh;
}

.header {
  display: flex !important;
  align-items: center;
  height: auto !important;
  line-height: 1 !important;
  background: rgba(20, 29, 42, 1) !important;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.content {
  padding: 24px;
}
